.step {
    margin: 20px 0;
}

.step .step-title {
    margin: 10px 0;
    background-color: var(--white);
}

.step .step-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

@media screen and (max-width: 500px) {
    .step .step-content {
        grid-template-columns: 1fr 1fr;
    }
}