.scroll {
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    display: none;
    animation: fadeIn .6s linear;
    z-index: 10;
    user-select: none;
}

.scroll.visible {
    display: block;
}

.scroll .icon-small {
    width: 60px;
    /* transform: rotate(-90deg); */
}

@media screen and (max-width: 500px) {
    .scroll {
        bottom: 15px;
        right: 15px;
    }

    .scroll .icon-small {
        width: 50px;
    }
}