.listitem {
  width: fit-content;
  line-height: 2;
  display: flex;
  align-items: center;
  gap: 0 10px;
  position: relative;
  transition: all 0.6s ease;
}

.listitem .icon-small {
  width: 35px;
}

.listitem a {
  color: inherit;
  text-transform: capitalize;
}

.listitem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-secondary);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
}

.listitem:hover,
.listitem:focus {
  color: var(--color-secondary);
}

.listitem:hover::after,
.listitem:focus::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  width: 100%;
  animation: slideIn 0.3s linear;
}
