.dropdown-item {
  max-width: 1024px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
}

.dropdown-item .dropdown-q {
  background-color: var(--white);
  border-left: 4px solid var(--color-secondary);
  padding: 12px;
  cursor: pointer;
  user-select: none;
  transition: all 0.6s ease;
}

.dropdown-item .dropdown-q.vis {
  background: white;
  color: inherit;
}

.dropdown-item .dropdown-a {
  padding: 12px;
  display: none;
}

.dropdown-item .dropdown-a.vis {
  display: block;
  background-color: var(--white);
  border-right: 4px solid var(--color-secondary);
}

.dropdown-item .dropdown-q .dropdown-text {
  text-transform: capitalize;
}

.dropdown-item .dropdown-a .dropdown-text {
  text-transform: capitalize;
  line-height: 1.6;
}
