.order-item {
    display: flex;
    height: 300px;
    border: 1px solid var(--color-secondary);
    margin: 10px 0;
}

.order-item .row {
    height: 100%;
    width: calc(100% / 3);
    /* padding: 5px; */
}

.order-item .row .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--color-secondary);
    padding: 5px;
}

.order-item .row .col:nth-child(1) {
    border-bottom: 1px solid var(--color-secondary);
    height: 20%;
    align-items: center;
}

.order-item .row .col:nth-child(2) {
    height: 80%;
    width: 100%;
}

.order-item .row .col .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.order-item .row .col .text-regular span {
    text-decoration: underline;
    font-weight: 900;
    line-height: 1.5;
}