.user {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user .wrapper .form {
  max-width: 500px;
}
