.footer {
    background-color: var(--color-dark);
    padding: 30px 15% 30px 15%;
}

.footer .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;
    color: var(--white);
}

.footer .payment {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.footer .payment .verified-payment {
    height: 100%;
    width: fit-content;
}

@media screen and (max-width: 1024px) {
    .footer .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}

