.dashboard {
  /* background-color: aquamarine; */
  border-right: 1px solid lightgrey;
  min-height: calc(100vh - 80px);
}

.dashboard .col {}

.dashboard .col.col-1 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .col.col-1 .logo {
  font-size: 20px;
  font-weight: bold;
  color: #6439ff;
}

.dashboard .col.col-2 {
    padding-left: 10px;
    margin: 15px 0;
}

.dashboard .col.col-2 ul {}

.dashboard .col.col-2 ul .text-medium {
    margin: 10px 0 0 0;
}

.dashboard .col.col-2 ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    cursor: pointer;
}

.dashboard .col.col-2 ul li:hover {
    background-color: #ece8ff;
}

.dashboard .col.col-2 ul li .icon {
    font-size: 18px;
    color: #6439ff;
}

.dashboard .col.col-2 ul li span {
    font-size: 13px;
}

.dashboard .col.col-3 {
    padding: 0 10px;
}
