.my-account {}

.my-account .wrapper {}

.my-account .wrapper .greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-account .wrapper .greeting .header {
    text-align: left;
    padding: 15px 0;
}

.my-account .wrapper .greeting .logout-wrapper {
    min-width: 200px;
}

@media screen and (max-width: 820px) {
    .my-account .wrapper .greeting .logout-wrapper {
        display: none;
    }
}